@import url(http://fonts.googleapis.com/css?family=Open+Sans);

body {
    font-family: 'Open Sans', sans-serif !important;
}

#fullscreen-image {
    min-height: 100%;   
    background: url(/img/Arion.jpg) no-repeat center center fixed;
    background-size: cover;
    top: 0;
    left: 0;
    padding-top: 20%;
}
.whitetext {
    color: rgb(255, 255, 255);
    text-align: center;
}
#first-title {
    padding: 1em 0;
    text-align: center;
}
#bold {
    font-weight: bold;

}